{% extends 'layout.html'%}

{%block content %}
    <div class="containerfluid" style="background-color: #FF6700; height: 20px;"></div>
    <div class="containerfluid" >
        <div class="col-md-5 col-lg-5" style="margin: auto; margin-top: 100px;">
            
            <br>
            <center><h1>Login</h1></center>
            <p id="con_message">{{ message }}</p>
            <form method="post" id="login" >
                
                {% csrf_token %}
                {{form}}
                <br>
                <button class="btn  mb-3" type="submit" >Se connecter</button>
                <br>
                <p style="text-align: right;">don't have an Acount? <a href="{% url 'signup' %}">signup !</a></p>
            </form>
            
        </div>
    </div>
   
{% endblock content%}